body{
  overflow:hidden;
  position:relative;

  font-family:sans-serif;
}

.js-blockOpenClick .node > *{
  pointer-events:none;
}

.packagesContainer{
  position:absolute;
  top:0;
  left:0;
}

.package{
  position:absolute;
  border:solid 2px black;
}

.graphDom{
  position:absolute;
  top:0px;
  left:0px;
  user-select:none;
  white-space:nowrap;
}

.node{
  transition:background-color 0.3s, border-color 0.3s, color 0.3s;
}

.jsNode{
  display : inline-block;
  position : absolute;
  border:solid 2px black;
  padding:7px;
  top : 0px;
  left : 0px;
}

.dependencyNode,
.fileNode{
  display : inline-block;
  position : absolute;
  border:solid 2px black;
  padding:7px;
  top : 0px;
  left : 0px;
}

.nodesContainer{
  position:absolute;
  top:0px;
  left:0px;
}


.dependencyName{
  font-size:18px;
  margin:2px;
}

.fileName{
  cursor:pointer;
  font-size:18px;
  margin:2px;
}

.className{
  cursor:pointer;
  font-size:20px;
  margin-top:2px;
}

.method{
  cursor:pointer;
  margin-top:2px;
}

.fileName:hover,
.className:hover,
.method:hover{
  background-color:rgba(0, 0, 0, 0.1);
}
